@import url(https://fonts.googleapis.com/css2?family=Anton&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap);/**** Reset ****/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/**** Utility classes ****/
.container {
  margin: 0 auto;
  max-width: 800px;
}

.centering-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
}

.primary {
  color: #5f9ea6;
}

.secondary {
  color: #FBC79F;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: 600;
}

.text-secondary {
  color: #FBC79F;
}

.txt-center {
  text-align: center;
}

.txt-smaller {
  font-size: 90%;
}

/**** Utility classes ****/
body {
  font-weight: 200;
  background-color: #FBC79F;
  font-family: "Raleway", sans-serif;
}
body header {
  color: #FBC79F;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #5f9ea6;
  padding: 0 2rem;
  line-height: 8vh;
  height: 8vh;
}
body main {
  min-height: 92vh;
}
body main section#trains {
  padding: 3rem 0;
}
body main section#trains div.train {
  padding: 2rem 5rem;
  border-radius: 30px;
  margin-bottom: 1rem;
  background-color: white;
  box-shadow: 1px 1px 3px #959595;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
}
body main section#trains div.train h4,
body main section#trains div.train h5,
body main section#trains div.train h6,
body main section#trains div.train p {
  margin-bottom: 0.3rem;
}
body main section#trains div.train div.cell {
  width: 20%;
}
body main section#trains div.train div.departure {
  position: relative;
}
body main section#trains div.train div.departure::after {
  content: "";
  height: 10px;
  width: 100px;
  color: black;
  display: block;
  border-bottom: 1px solid rgb(36, 118, 156);
  position: absolute;
  top: inherit;
  right: inherit;
  bottom: 50%;
  left: 100%;
}
body main section#trains div.train div.info {
  padding-left: 2rem;
  border-left: 1px solid rgb(36, 118, 156);
}